<div class="content-fluid">

<div id="progress">
  <div id="progress-position"><span class="line"></span></div>
  <div id="progress-loaded"></div>
</div>
<div id="peak"></div>
<!-- <h1>Stations#show</h1>
<p>Find me in app/views/stations/show.html.erb</p> -->


<div id="mid-fields">
  <div class="group">
    <h1>CloudRadio</h1>
    <div id="controls">
      <a href="#pauseplay" id="pause-play">Pause/Play</a>
      <a href="#next" id="next-track">Next Track &raquo;</a>
    </div>
    <div id="track-info">
      Now playing: <span class="track-title"></span>
    </div>
  </div>
  <div id="search-fields">
    <form method="get" action=".">
      <input type="text" name="q" value="<%= params[:q]%>" id="field-q">
      <input type="submit" name="submit" value="►">
    </form>
  </div>
</div>

<ul id="tracklist">
  <% @tracks.each do |track| %>
    <% if track.streamable %>
    <li data-track-id="<%=track.id%>" data-track-stream-url="<%=track.stream_url%>?client_id=7f77beae3d19100f293b7647d2e6c8e5" class="track">
      <h3><span class="title"><%=track.title%></span> by <span class="username"><%=track.user.username%></span></h3>
      <img src="<%=track.artwork_url%>"  class="artwork">
      <img src="<%=track.waveform_url%>" class="waveform">
      <a href="<%=track.permalink_url%>" target="_blank" class="permalink"><%=track.permalink_url%></a>
      
      
      <!-- for debugging...
      <%= track.keys.each do |key| %>
        key: <strong><%= key %></strong>, value: <%= track[key] %><br>
      <% end %>
      -->
    </li>
    <% end %>
  <% end %>
</ul>

</div><!-- /.content-fluid -->
