<div class="content-fluid">

<div id="progress">
  <div id="progress-position"><span class="line"></span></div>
  <div id="progress-loaded"></div>
</div>
<div id="peak"></div>
<!-- <h1>Stations#show</h1>
<p>Find me in app/views/stations/show.html.erb</p> -->


<div id="mid-fields" class="<% if params[:q].nil? %>homepage<% end %>">
  <div class="group">
    <h1>CloudRadio</h1>
    <div id="controls">
      <a href="#pauseplay" id="pause-play">Pause/Play</a>
      <a href="#next" id="next-track">Next Track &raquo;</a>
    </div>
    <div id="track-info">
      Now playing: <span class="track-title"></span>
    </div>
  </div>
  <div id="search-fields">
    <form method="get" action=".">
      <input type="text" name="q" value="<%= params[:q] %>" id="field-q">
      <input type="submit" name="submit" value="►">
    </form>
    <% if params[:q].nil? %>
    <div class="sample-searches">
      <h3>Enter your own search above, or try one of these:</h3>
      <% ["bpm:180-220", "genre:dubstep", "length:1200-3600", "genres:hiphop,rap,grime",
          "type:remix", "type:live", "jokes type:spoken", "electro bpm:140",
          "theremin", "tag:didgeridoo", "tag:harp", "tag:piano", "genre:lullaby"].each do |search_term| %>
        <%= link_to "#{search_term}", :q => search_term %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<ul id="tracklist">
  <% @tracks.each do |track| %>
    <% if track.streamable %>
    <li data-track-id="<%=track.id%>" data-track-stream-url="<%=track.stream_url%>?client_id=7f77beae3d19100f293b7647d2e6c8e5" class="track">
      <h3><span class="title"><%=track.title%></span> by <span class="username"><%=track.user.username%></span></h3>
      <img src="<%=track.artwork_url%>"  class="artwork">
      <img src="<%=track.waveform_url%>" class="waveform">
      <a href="<%=track.permalink_url%>" target="_blank" class="permalink"><%=track.permalink_url%></a>
      
      
      <!-- for debugging...
      <%= track.keys.each do |key| %>
        key: <strong><%= key %></strong>, value: <%= track[key] %><br>
      <% end %>
      -->
    </li>
    <% end %>
  <% end %>
</ul>

<div id="about-info">
  Built at <a href="http://hackdays.ca" target="_blank">HackTO</a><br>
   on April 14, 2012<br>
  by <a href="http://ruten.ca" target="_blank">Matt Ruten</a><br>
  Powered by <a href="http://soundcloud.com/" target="_blank">SoundCloud</a><br>
  Source on <a href="http://github.com/nomatteus/soundcloud-radio" target="_blank">Github</a>
</div>

<div id="keyboard-shortcuts-overlay">
  <h3>Keyboard Shortcuts</h3>
  <dl>
    <dt>spacebar <em>or</em> v</dt>
      <dd>pause/play</dd>
    <dt>right arrow <em>or</em> n</dt>
      <dd>play next track</dd>
    <dt>?</dt>
      <dd>show/hide this guide</dd>
  </dl>
</div>

</div><!-- /.content-fluid -->
