<!DOCTYPE html>
<html>
<head>
  <title>Soundcloud</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= params[:controller] + '-' + params[:action] %>">

  <%#= render "layouts/application/top-bar" %>
  <div class="container">
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
    
    <!-- <footer>
      <p>&copy; Company 2012</p>
    </footer> -->

  </div>
  <script src="http://connect.soundcloud.com/sdk.js" type="text/JavaScript"></script>
  <%= javascript_include_tag "application" %>
</body>
</html>
